@tailwind base;
@tailwind components;
@tailwind utilities;

/* creatting helping classes and variables */

body {
    margin-right: auto;
    margin-left: auto;
    max-width: 1150px;
    background-color: rgb(24, 0, 44);
}

/* width */
*::-webkit-scrollbar {
    height: 6px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.200);
    border-radius: 100px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* css dump for slider_slide-action-button */

.onboarding-feature-screenshots-wrapper 
    > .slider-action-button-layer-wrapper 
        > .slider_slide-action-button {
            opacity: 10%;
            transition: 0.2s all ease-in-out;
}

.onboarding-feature-screenshots-wrapper:hover 
    > .slider-action-button-layer-wrapper 
        > .slider_slide-action-button {
            opacity: 50%;
}