@tailwind base;
@tailwind components;
@tailwind utilities;

/* creatting helping classes and variables */

body {
    margin-right: auto;
    margin-left: auto;
    max-width: 1150px;
    background-color: rgb(24, 0, 44);
}